<% if user_signed_in? %>
  <h3>Welcome <%= current_user.name %> </h3>
  <h4>Your Classes:</h4>
  <br />
  <h5>Classes: Units</h5>
  <% current_user.classes.each do |key, value| %>
    <%= "#{key}: #{value}" %> <br />
  <% end %>

  <h3>Edit Classes</h3>
  <%= button_to "Edit Classes", edit_user_path(id: current_user.id), :class => "button small", :method => :get %>

<% else %>
  <h3>Welcome! Sign up to access our class match system!</h3>
<% end %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
